<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

<div th:fragment="default" class="footer-w">
    <div class="fade3"></div>
    <div class="os-container">
        <div class="footer-i">
            <div class="row">
                <div class="col-sm-7 col-lg-4 b-r padded">
                    <div class="logo-element"></div>
                    <h3 class="heading-big">
                        YS-Estate
                    </h3>
                    <h6 class="heading-small">
                        By Ning
                    </h6>
                    <p>
                        This is a graduation project, check this on https://github.com/Craaaazy/Graduation-project.
                    </p>
                </div>
                <div class="col-sm-5 col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 b-r padded">
                            <h6 class="heading-small">
                                Locations
                            </h6>
                            <p>
                                Hubei Polytechnic University<br/>Yellow Stone
                            </p>
                        </div>
                        <div class="col-lg-6 b-r padded">
                            <h6 class="heading-small">
                                Phone Numbers
                            </h6>
                            <ul>
                                <li>
                                    186-7082-xxxx
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="deep-footer">
            &copy; 2019 All rights reserved.
        </div>
    </div>
</div>

</body>
</html>