<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--是index最上面那一栏-->
<div th:fragment="head_icon">
    <div class="top-bar color-scheme-transparent">
        <!--------------------
        START - Top Menu Controls
        -------------------->
        <div class="top-menu-controls">
            <!--------------------
            START - User avatar and menu in secondary top menu
            -------------------->
            <div class="logged-user-w">
                <div class="logged-user-i">
                    <div class="avatar-w">
                        <img alt="" src="img/avatar1.jpg" id="head">
                    </div>
                    <div class="logged-user-menu color-style-bright">
                        <div class="logged-user-avatar-info">
                            <div class="avatar-w">
                                <img alt="" src="img/avatar1.jpg" id="head">
                            </div>
                            <div class="logged-user-info-w">
                                <div class="logged-user-name" id="name">
                                    Maria Gomez
                                </div>
                                <div class="logged-user-role" id="role">
                                    Administrator
                                </div>
                            </div>
                        </div>
                        <div class="bg-icon">
                            <i class="os-icon os-icon-wallet-loaded"></i>
                        </div>
                        <ul>
                            <li>
                                <a href="users_profile_big.html" th:href="@{/user}"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile</span></a>
                            </li>
                            <li>
                                <a href="users_profile_small.html"><i class="os-icon os-icon-coins-4"></i><span>Billing</span></a>
                            </li>
                            <li>
                                <a href="#" th:href="@{/logout}"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--------------------
            END - User avatar and menu in secondary top menu
            -------------------->
        </div>
        <!--------------------
        END - Top Menu Controls
        -------------------->
    </div></div>

<!--是侧边栏-->
<div th:fragment="sider" class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
        <div class="logo-w">
            <a class="logo" href="index.html" th:href="@{/index}">
                <div class="logo-element"></div>
                <div class="logo-label">
                    YS-Estate
                </div>
            </a>
        </div>
        <div class="logged-user-w avatar-inline">
            <div class="logged-user-i">
                <div class="avatar-w">
                    <img alt="" src="../img/avatar1.jpg" id="head">
                </div>
                <div class="logged-user-info-w">
                    <div class="logged-user-name" id="name"></div>
                    <div class="logged-user-role" id="role"></div>
                </div>
                <div class="logged-user-toggler-arrow">
                    <div class="os-icon os-icon-chevron-down"></div>
                </div>
                <div class="logged-user-menu color-style-bright">
                    <div class="logged-user-avatar-info">
                        <div class="avatar-w">
                            <img alt="" src="../img/avatar1.jpg" id="head">
                        </div>
                        <div class="logged-user-info-w">
                            <div class="logged-user-name" id="name">
                                Maria Gomez
                            </div>
                            <div class="logged-user-role" id="role">
                                Administrator
                            </div>
                        </div>
                    </div>
                    <div class="bg-icon">
                        <i class="os-icon os-icon-wallet-loaded"></i>
                    </div>
                    <ul>
                        <li>
                            <a href="users_profile_big.html" th:href="@{/user}"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile</span></a>
                        </li>
                        <li>
                            <a href="users_profile_small.html"><i class="os-icon os-icon-coins-4"></i><span>Billing</span></a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/logout}"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 class="menu-page-header">
            Page Header
        </h1>
        <ul class="main-menu">
            <li class="sub-header">
                <span>Main Page</span>
            </li>
            <li class="selected has-sub-menu">
                <a href="index.html" th:href="@{/index}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-layout"></div>
                    </div>
                    <span>Home</span></a>
            </li>

            <li class=" has-sub-menu">
                <a href="#" th:href="@{/houselist}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-package"></div>
                    </div>
                    <span>Market</span></a>
            </li>

            <li class=" has-sub-menu">
                <a href="#" th:href="@{/owner/publish}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-zap"></div>
                    </div>
                    <span>Upload</span></a>
            </li>

            <li class=" has-sub-menu">
                <a href="#" th:href="@{/owner/myHouse}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-coins-4"></div>
                    </div>
                    <span>My Houses</span>
                </a>
            </li>

            <li class=" has-sub-menu" id="admin_href" hidden="hidden">
                <a href="#" th:href="@{/admin/houses}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-crown"></div>
                    </div>
                    <span>ADMIN MANAGE</span>
                </a>
            </li>
        </ul>

    </div>
<!--右侧边栏 原来用于table_regular-->
<div th:fragment="table_menu_right" class="content-panel">
        <div class="content-panel-close">
            <i class="os-icon os-icon-close"></i>
        </div>
        <!--------------------
START - Support Agents
-------------------->
        <div class="element-wrapper">
            <h6 class="element-header">
                Support Agents
            </h6>
            <div class="element-box-tp">
                <div class="profile-tile">
                    <a class="profile-tile-box" href="users_profile_small.html">
                        <div class="pt-avatar-w">
                            <img alt="" src="img/avatar1.jpg">
                        </div>
                        <div class="pt-user-name">
                            John Mayers
                        </div>
                    </a>
                    <div class="profile-tile-meta">
                        <ul>
                            <li>
                                Last Login:<strong>Online Now</strong>
                            </li>
                            <li>
                                Tickets:<strong><a href="apps_support_index.html">12</a></strong>
                            </li>
                            <li>
                                Response Time:<strong>2 hours</strong>
                            </li>
                        </ul>
                        <div class="pt-btn">
                            <a class="btn btn-success btn-sm" href="apps_full_chat.html">Send Message</a>
                        </div>
                    </div>
                </div>
                <div class="profile-tile">
                    <a class="profile-tile-box" href="users_profile_small.html">
                        <div class="pt-avatar-w">
                            <img alt="" src="img/avatar3.jpg">
                        </div>
                        <div class="pt-user-name">
                            Ben Gossman
                        </div>
                    </a>
                    <div class="profile-tile-meta">
                        <ul>
                            <li>
                                Last Login:<strong>Offline</strong>
                            </li>
                            <li>
                                Tickets:<strong><a href="apps_support_index.html">9</a></strong>
                            </li>
                            <li>
                                Response Time:<strong>3 hours</strong>
                            </li>
                        </ul>
                        <div class="pt-btn">
                            <a class="btn btn-secondary btn-sm" href="apps_full_chat.html">Send Message</a>
                        </div>
                    </div>
                </div>
                <div class="profile-tile">
                    <a class="profile-tile-box" href="users_profile_small.html">
                        <div class="pt-avatar-w">
                            <img alt="" src="img/avatar2.jpg">
                        </div>
                        <div class="pt-user-name">
                            Ken Sorrons
                        </div>
                    </a>
                    <div class="profile-tile-meta">
                        <ul>
                            <li>
                                Last Login:<strong>Offline</strong>
                            </li>
                            <li>
                                Tickets:<strong><a href="apps_support_index.html">17</a></strong>
                            </li>
                            <li>
                                Response Time:<strong>1 hour</strong>
                            </li>
                        </ul>
                        <div class="pt-btn">
                            <a class="btn btn-danger btn-sm" href="apps_full_chat.html">Send Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------
        END - Support Agents
        -------------------->
        <div class="element-wrapper">
            <h6 class="element-header">
                Side Tables
            </h6>
            <div class="element-box">
                <h5 class="form-header">
                    Table in white box
                </h5>
                <div class="form-desc">You can put a table tag inside an <code>.element-box</code> class wrapper and add <code>.table</code> class to it to get something like this:
                </div>
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-sm btn-primary" href="#">Download CSV</a><a class="btn btn-sm btn-danger" href="#">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-lightborder">
                        <thead>
                        <tr>
                            <th>
                                Customer
                            </th>
                            <th class="text-center">
                                Status
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                John Mayers
                            </td>
                            <td class="text-center">
                                <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kelly Brans
                            </td>
                            <td class="text-center">
                                <div class="status-pill red" data-title="Cancelled" data-toggle="tooltip"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tim Howard
                            </td>
                            <td class="text-center">
                                <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Joe Trulli
                            </td>
                            <td class="text-center">
                                <div class="status-pill yellow" data-title="Pending" data-toggle="tooltip"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fred Kolton
                            </td>
                            <td class="text-center">
                                <div class="status-pill green" data-title="Complete" data-toggle="tooltip"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<!--首页的右边栏-->
<div th:fragment="index_menu_right" class="content-panel">
    <div class="content-panel-close">
        <i class="os-icon os-icon-close"></i>
    </div>
    <div class="element-wrapper">
        <h6 class="element-header">
            Quick Links
        </h6>
        <div class="element-box-tp">
            <div class="el-buttons-list full-width">
                <a class="btn btn-white btn-sm" href="#"><i class="os-icon os-icon-delivery-box-2"></i><span>Create New Product</span></a><a class="btn btn-white btn-sm" href="#"><i class="os-icon os-icon-window-content"></i><span>Customer Comments</span></a><a class="btn btn-white btn-sm" href="#"><i class="os-icon os-icon-wallet-loaded"></i><span>Store Settings</span></a>
            </div>
        </div>
    </div>
    <!--------------------
    START - Support Agents
    -------------------->
    <div class="element-wrapper">
        <h6 class="element-header">
            Support Agents
        </h6>
        <div class="element-box-tp">
            <div class="profile-tile">
                <a class="profile-tile-box" href="user_profile.html">
                    <div class="pt-avatar-w">
                        <img alt="" src="img/avatar1.jpg">
                    </div>
                    <div class="pt-user-name">
                        John Mayers
                    </div>
                </a>
                <div class="profile-tile-meta">
                    <ul>
                        <li>
                            Last Login:<strong>Online Now</strong>
                        </li>
                        <li>
                            Tickets:<strong><a href="apps_support_index.html">12</a></strong>
                        </li>
                        <li>
                            Response Time:<strong>2 hours</strong>
                        </li>
                    </ul>
                    <div class="pt-btn">
                        <a class="btn btn-success btn-sm" href="apps_full_chat.html">Send Message</a>
                    </div>
                </div>
            </div>
            <div class="profile-tile">
                <a class="profile-tile-box" href="user_profile.html">
                    <div class="pt-avatar-w">
                        <img alt="" src="img/avatar3.jpg">
                    </div>
                    <div class="pt-user-name">
                        Ben Gossman
                    </div>
                </a>
                <div class="profile-tile-meta">
                    <ul>
                        <li>
                            Last Login:<strong>Offline</strong>
                        </li>
                        <li>
                            Tickets:<strong><a href="apps_support_index.html">9</a></strong>
                        </li>
                        <li>
                            Response Time:<strong>3 hours</strong>
                        </li>
                    </ul>
                    <div class="pt-btn">
                        <a class="btn btn-secondary btn-sm" href="apps_full_chat.html">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
    END - Support Agents
    --------------------><!--------------------
              START - Recent Activity
              -------------------->
    <div class="element-wrapper">
        <h6 class="element-header">
            Recent Activity
        </h6>
        <div class="element-box-tp">
            <div class="activity-boxes-w">
                <div class="activity-box-w">
                    <div class="activity-time">
                        10 Min
                    </div>
                    <div class="activity-box">
                        <div class="activity-avatar">
                            <img alt="" src="img/avatar1.jpg">
                        </div>
                        <div class="activity-info">
                            <div class="activity-role">
                                John Mayers
                            </div>
                            <strong class="activity-title">Opened New Account</strong>
                        </div>
                    </div>
                </div>
                <div class="activity-box-w">
                    <div class="activity-time">
                        2 Hours
                    </div>
                    <div class="activity-box">
                        <div class="activity-avatar">
                            <img alt="" src="img/avatar2.jpg">
                        </div>
                        <div class="activity-info">
                            <div class="activity-role">
                                Ben Gossman
                            </div>
                            <strong class="activity-title">Posted Comment</strong>
                        </div>
                    </div>
                </div>
                <div class="activity-box-w">
                    <div class="activity-time">
                        5 Hours
                    </div>
                    <div class="activity-box">
                        <div class="activity-avatar">
                            <img alt="" src="img/avatar3.jpg">
                        </div>
                        <div class="activity-info">
                            <div class="activity-role">
                                Phil Nokorin
                            </div>
                            <strong class="activity-title">Opened New Account</strong>
                        </div>
                    </div>
                </div>
                <div class="activity-box-w">
                    <div class="activity-time">
                        2 Days
                    </div>
                    <div class="activity-box">
                        <div class="activity-avatar">
                            <img alt="" src="img/avatar4.jpg">
                        </div>
                        <div class="activity-info">
                            <div class="activity-role">
                                Jenny Miksa
                            </div>
                            <strong class="activity-title">Uploaded Image</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
    END - Recent Activity
    --------------------><!--------------------
              START - Team Members
              -------------------->
    <div class="element-wrapper">
        <h6 class="element-header">
            Team Members
        </h6>
        <div class="element-box-tp">
            <div class="input-search-w">
                <input class="form-control rounded bright" placeholder="Search team members..." type="search">
            </div>
            <div class="users-list-w">
                <div class="user-w with-status status-green">
                    <div class="user-avatar-w">
                        <div class="user-avatar">
                            <img alt="" src="img/avatar1.jpg">
                        </div>
                    </div>
                    <div class="user-name">
                        <h6 class="user-title">
                            John Mayers
                        </h6>
                        <div class="user-role">
                            Account Manager
                        </div>
                    </div>
                    <a class="user-action" href="user_profile.html">
                        <div class="os-icon os-icon-email-forward"></div>
                    </a>
                </div>
                <div class="user-w with-status status-green">
                    <div class="user-avatar-w">
                        <div class="user-avatar">
                            <img alt="" src="img/avatar2.jpg">
                        </div>
                    </div>
                    <div class="user-name">
                        <h6 class="user-title">
                            Ben Gossman
                        </h6>
                        <div class="user-role">
                            Administrator
                        </div>
                    </div>
                    <a class="user-action" href="user_profile.html">
                        <div class="os-icon os-icon-email-forward"></div>
                    </a>
                </div>
                <div class="user-w with-status status-red">
                    <div class="user-avatar-w">
                        <div class="user-avatar">
                            <img alt="" src="img/avatar3.jpg">
                        </div>
                    </div>
                    <div class="user-name">
                        <h6 class="user-title">
                            Phil Nokorin
                        </h6>
                        <div class="user-role">
                            HR Manger
                        </div>
                    </div>
                    <a class="user-action" href="user_profile.html">
                        <div class="os-icon os-icon-email-forward"></div>
                    </a>
                </div>
                <div class="user-w with-status status-green">
                    <div class="user-avatar-w">
                        <div class="user-avatar">
                            <img alt="" src="../static/img/avatar4.jpg">
                        </div>
                    </div>
                    <div class="user-name">
                        <h6 class="user-title">
                            Jenny Miksa
                        </h6>
                        <div class="user-role">
                            Lead Developer
                        </div>
                    </div>
                    <a class="user-action" href="user_profile.html">
                        <div class="os-icon os-icon-email-forward"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
    END - Team Members
    -------------------->
</div>

</body>
</html>