<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>标题</th>
        <th>地区</th>
        <th>价格</th>
        <th>上传时间</th>
        <!--<th>操  作</th>-->
    </tr>
    <!--不分页遍历-->
    <!--<tr th:each="item : ${list}">-->
    <!--分页遍历-->
    <tr th:each="item : ${page.content}">
        <td th:text="${item.title}">标题</td>
        <td th:text="${item.zone}">地区</td>
        <td th:text="${item.sellPrice}">价格</td>
        <td th:text="${item.uploadTime}">时间</td>
        <!--<td>-->
            <!--<a th:href="@{/categoryedit(categoryid=${item.id})}">编辑</a>-->
            <!--<a th:href="@{/categorydelete(categoryid=${item.id})}">删除</a>-->
        <!--</td>-->
    </tr>
</table>
<div>
    <a th:href="@{/houselist(start=0)}">[首页]</a>
    <a th:if="${not page.isFirst()}" th:href="@{/houselist(start=${page.number-1})}">[上页]</a>
    <a th:if="${not page.isLast()}" th:href="@{/houselist(start=${page.number+1})}">[下页]</a>
    <a th:href="@{/houselist(start=${page.totalPages-1})}">[末页]</a>
</div>

</body>
</html>