<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Admin Dashboard HTML Template Frontend</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link th:href="@{/favicon.png}" href="../static/favicon.png" rel="shortcut icon">
    <link th:href="@{/app-touch-icon.png}" href="../static/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link th:href="@{/bower_components/slick-carousel/slick/slick.css}" href="../static/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
    <link th:href="@{/bower_components/ion.rangeSlider/css/ion.rangeSlider.css}" href="../static/bower_components/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link th:href="@{/bower_components/select2/dist/css/select2.min.css}" href="../static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link th:href="@{/css/main.css?version=4.4.0}" href="../static/css/main.css?version=4.4.0" rel="stylesheet">

  </head>
  <body class="white rentals-wrapper full-screen">
    <div class="all-wrapper rentals">
      <!--------------------
      START - Top Bar
      -------------------->
      <div th:replace="fragments/header :: top_bar"></div>
      <!--------------------
      END - Top bar
      -------------------->
      <!--------------------
      START - Rentals Content
      -------------------->
      <div class="rentals-list-w">
        <!--------------------
        START - Property Index Filters
        -------------------->
        <!--------------------
        END - Property Index Filters
        -------------------->
        <center style="font-size: 20px" th:if="${size == 0}">没有找到</center>
        <div class="rentals-list">
          <div class="list-controls">
            <div class="list-info" th:text="${size} + ' properties found.'">
              1,240 Properties found in Brooklyn, NY
            </div>
          </div>
          <div class="property-items as-list">
            <!--------------------
            START - Property Item
            -------------------->
            <div class="property-item" th:each="house : ${houses}">
              <input th:type="hidden" th:value="${house.house_pic}" id="pic"/>
              <a class="item-media-w" href="rentals_single.html" th:href="@{/house_detail/}+${house.id}">
                <div class="item-media" id="item-pic" th:style="'background-image:url(http://localhost:8050/image/' + ${house.pic_front} + ');'"></div>
              </a>
              <div class="item-info">
                <div class="item-features">
                  <div class="feature" th:text="${house.zone}">
                    5 Bedrooms
                  </div>
                </div>
                <h3 class="item-title">
                  <a href="rentals_single.html" th:text="${house.title}">Perfect Located 2BR Aspen Condo</a>
                </h3>
                <div class="item-reviews">
                  <div class="reviews-stars">
                    <select class="item-star-rating" th:value="${house.comment_Star}">
                      <option value="1" th:selected="${house.comment_Star == '1'}">
                        1
                      </option>
                      <option value="2" th:selected="${house.comment_Star == '2'}">
                        2
                      </option>
                      <option value="3" th:selected="${house.comment_Star == '3'}">
                        3
                      </option>
                      <option value="4" th:selected="${house.comment_Star == '4'}">
                        4
                        <!--</option>-->
                      <option value="5" th:selected="${house.comment_Star == '5'}">
                        5
                      </option>
                    </select>
                  </div>
                  <div class="reviews-count" th:text="${house.click_Num} + ' ' + Reviews">
                    12 Reviews
                  </div>
                </div>
                <div class="item-price-buttons">
                  <div class="item-price">
                    <strong th:text="'￥' + ${house.sellPrice}">$350</strong>
                  </div>
                  <div class="item-buttons">
                    <a class="btn btn-outline-primary" th:href="@{/house_detail/}+${house.id}" href="rentals_single.html"><span>Details</span><i class="os-icon os-icon-arrow-2-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
            END - Property Item
            -------------------->

          </div>
        </div>
      </div><!--------------------
      END - Rentals Content
      -------------------->
      <!--------------------
      START - Footer
      -------------------->
      <!--------------------
      END - Footer
      -------------------->
    </div>
    <div class="display-type"></div>
  </body>
  <script th:src="@{/bower_components/jquery/dist/jquery.min.js}" src="../static/bower_components/jquery/dist/jquery.min.js"></script>
  <script th:src="@{/bower_components/popper.js/dist/umd/popper.min.js}" src="../static/bower_components/popper.js/dist/umd/popper.min.js"></script>
  <script th:src="@{/bower_components/moment/moment.js}" src="../static/bower_components/moment/moment.js"></script>
  <script th:src="@{/bower_components/chart.js/dist/Chart.min.js}" src="../static/bower_components/chart.js/dist/Chart.min.js"></script>
  <script th:src="@{/bower_components/select2/dist/js/select2.full.min.js}" src="../static/bower_components/select2/dist/js/select2.full.min.js"></script>
  <script th:src="@{/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js}" src="../static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
  <script th:src="@{/bower_components/ckeditor/ckeditor.js}" src="../static/bower_components/ckeditor/ckeditor.js"></script>
  <script th:src="@{/bower_components/bootstrap-validator/dist/validator.min.js}" src="../static/bower_components/bootstrap-validator/dist/validator.min.js"></script>
  <script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}" src="../static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script th:src="@{/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js}" src="../static/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
  <script th:src="@{/bower_components/dropzone/dist/dropzone.js}" src="../static/bower_components/dropzone/dist/dropzone.js"></script>
  <script th:src="@{/bower_components/editable-table/mindmup-editabletable.js}" src="../static/bower_components/editable-table/mindmup-editabletable.js"></script>
  <script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}" src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}" src="../static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script th:src="@{/bower_components/fullcalendar/dist/fullcalendar.min.js}" src="../static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script th:src="@{/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js}" src="../static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
  <script th:src="@{/bower_components/tether/dist/js/tether.min.js}" src="../static/bower_components/tether/dist/js/tether.min.js"></script>
  <script th:src="@{/bower_components/slick-carousel/slick/slick.min.js}" src="../static/bower_components/slick-carousel/slick/slick.min.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/util.js}" src="../static/bower_components/bootstrap/js/dist/util.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/alert.js}" src="../static/bower_components/bootstrap/js/dist/alert.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/button.js}" src="../static/bower_components/bootstrap/js/dist/button.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/carousel.js}" src="../static/bower_components/bootstrap/js/dist/carousel.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/collapse.js}" src="../static/bower_components/bootstrap/js/dist/collapse.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/dropdown.js}" src="../static/bower_components/bootstrap/js/dist/dropdown.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/modal.js}" src="../static/bower_components/bootstrap/js/dist/modal.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/tab.js}" src="../static/bower_components/bootstrap/js/dist/tab.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/tooltip.js}" src="../static/bower_components/bootstrap/js/dist/tooltip.js"></script>
  <script th:src="@{/bower_components/bootstrap/js/dist/popover.js}" src="../static/bower_components/bootstrap/js/dist/popover.js"></script>
  <script th:src="@{/js/demo_customizer.js?version=4.4.0}" src="../static/js/demo_customizer.js?version=4.4.0"></script>
  <script th:src="@{/js/main.js?version=4.4.0}" src="../static/js/main.js?version=4.4.0"></script>

  <script th:src="@{/js/main_rentals.js?version=4.4.0}" src="../static/js/main_rentals.js?version=4.4.0"></script>

<script th:src="@{/js/search.js}"></script>
</html>
